body {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: -8px 0 0 -1px;
    font-family: 'Lemon Milk', sans-serif;
    align-items: center;
    justify-content: center;
}


/*PACCHETTI*/

.retro {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 64px 32px;
}

.boxer {
    display: flex;
}

.pack {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    grid-template-columns: auto auto auto;
    gap: 24px;
}

.pack text {
    max-width: 320px;
    cursor: pointer;
    display: block;
    transition: all 0.4s ease-in-out;
    border-radius: 16px;
}

.pack text a {
    display: inline-flex;
    color: #A91519;
    text-decoration: none;
}

.pack text h2 {
    margin: 0 0 18px 0;
    font-size: 1.6rem;
    color: purple;
    transition: 0.3s ease-out;
}

.pack text img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}

.text-preview {
    padding: 24px;
    background: white;
    border-radius: inherit;
}

.pack figure {
    width: 100%;
    height: 200px;
}

.pack figure img {
    height: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.pack text:hover img {
    transform: scale(1.5);
}