<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>

    <link rel="stylesheet" th:href="@{/styles/General.css}">
    <link rel="stylesheet" th:href="@{/styles/home-log_css/homepage.css}">
    <title>Carrello</title>

</head>
<body bgcolor="#25242A">

<!--HEADER-->
<section layout:insert="navbar.html"></section>

<!--BODY-->

<div class="prova">
  <p style="color: #ffffff"><a>QUESTO E' IL CARRELLO<br><br> E' SOLO UNA PROVA.<br><br>
    </a></p><br><br>
  <br><br>
  <br><br>
  <p style="color: #ffffff"><a>Emmanuel è gigante buono che è molto molto molto molto molto molto alto ma anche molto ma molto molto molto molto molto scemo e ve lo giuro che è cosi,<br><br> solo che ora sto scrivendo cose a caso per vedere quanto lungo sia tutto questo.<br><br>
    Poi ce Giovanni, Giovanni è un rattuso sisisi ci piacciono tanto tanto tanto tanto le donne e fa tanto il rattuso<br><br> Poi ce il mitico Kyrenis che è palesemente il suo sosia e non sto assolutamente scherzando,un onore avere un personaggio come lui nel team.<br><br>
    MARONNE KICK, di solito dice questo ma anche che Giovanni è rattuso e che Emmanuel è molto molto molto molto molto molto molto molto alto</a></p>
</div>

<!--FOOTER-->

<section layout:insert="footer"></section>

</body>
</html>