<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <link rel="stylesheet" th:href="@{/styles/texelStyle.css}">
</head>

<div th:replace="fragments :: topmenu"></div>

<body>

<div style="position: absolute; left: 20%; top: 25%; font-size: 23px; background-color: #1A1A1A;border-radius: 2%; width: 650px; height: 600px;"></div>

<div class = "break">

  <div style="width: 32px; position: absolute; top: 36px;" id="strumenti">

    <button id="creaEventi" class = "tools breakBar" onclick="creaEventi()">
      <img src="https://i.postimg.cc/PxkLPt7x/event.png">
    </button>

  </div>

  <div class="divBreak" id="info"></div>

</div>

</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src = "@{/js/Async.js}"></script>
<script th:src="@{/js/Strumenti/Eventi/ManagerEventi.js}"></script>

</html>