<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <link th:href="@{/styles/General.css}">

</head>

<section layout:fragment="footer">

    <!--FOOTER-->

<footer>
    <section class="footer-sections">
        <section>
            <img class="logo-text" src="/images/logo_text_quixel_texel.png"/>
            <span class="logo-insta-face-ult">
                <a href="https://www.instagram.com/quixel_texel/"><img src="/images/instagram.png"/></a>
                 <a href="https://www.facebook.com/profile.php?id=100092622645315"><img src="/images/facebook.png"/></a>
            </span>
        </section>
        <section>
            <menu>
                <h2>Quixel Texel</h2>
                <li>
                    <a>CONTATTI:</a>
                </li>
                <li>
                    <a>Email: <a href="mailto:jewelscamagi@gmail.com">quixeltexel@gmail.com</a></a>
                </li>
                <li>
                    <a>Numero: +39 3271234567</a>
                </li>
                <li>
                    <a>Fax: +39 0891234567</a>
                </li>
            </menu>
        </section>
    </section>
</footer>


</section>

</html>