<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <link th:href="@{/styles/General.css}">

</head>

<section layout:fragment="footer">

    <!--FOOTER-->

<footer>
    <section class="footer-sections">
        <section>
            <menu>
                <h3>CONTATTACI</h3><br><br>
                <li>
                    <a>FACEBOOK |<a href="https://www.facebook.com/profile.php?id=100092622645315"> QUIXELTEXEL</a></a>
                </li>
                <li>
                    <a>EMAIL |<a href="mailto:jewelscamagi@gmail.com"> QUIXEL.TEXEL@GMAIL.COM</a></a>
                </li>
                <li>
                    <a>INSTAGRAM |<a href="https://www.instagram.com/quixel_texel/"> QUIXEL.TEXEL</a></a>
                </li>
            </menu>
        </section>

        <section>
            <menu>
                <h3>DOCUMENTAZIONE</h3><br><br>
                <li>
                   <a>VISITA IL NOSTRO GOOGLE DRIVE.<br><br>
                   QUI POTRAI TROVARE TUTTA LA DOCUMENTAZIONE<br><br>
                   PRODOTTA DURANTE LA REALIZZAZIONE DI QUIXEL TEXEL.<br><br></a>
                    <br><br>
                    <br><br>
               <input type="image" th:src="@{https://i.postimg.cc/MTxDK6Gm/logo2.png}" height="40" width="300">
                </li>
            </menu>
        </section>

        <section>
            <menu>
                <h3>SCOPRI DI PIU' SU QUIXEL TEXEL</h3><br><br>
                <li>
                    <a>VISITA LA NOSTRA PAGINA GITHUB PER SCOPRIRE<br><br>
                        COME E' STATO REALIZZATO QUIXEL TEXEL.<br><br></a>
                    <br><br>
                </li>
            </menu>
        </section>
    </section>
</footer>


</section>

</html>