<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" th:href="@{/styles/Griglia/Griglia.css}">

</head>
<body>

<div>

  <!--PROVA DELLA GRIGLIA, VA MODIFICATO L'HTML-->

  <button onclick="creaGriglia('3', '10')">crea</button>
  <button onclick="disegnaTile()">disegna Tile</button>
  <button onclick="cancellaTile()">cancella Tile</button>
  <button onclick="selettoreTile()">selettore Tile</button>
  <button onclick="getimg()">download</button>

</div>

<br>

<div id = "griglia" class="griglia"></div>
<br>
<div id="tileset" class="squarePixelArt"></div>
<br>
Tile Scelto:
<div id = "tileScelto" class="squarePixelArt"><img class="squarePixelArt"></div>
<div id = "result" hidden="hidden"></div>

</body>

<script src = "https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script th:src = "@{/js/Strumenti/Griglia/Griglia.js}"></script>
<script th:src = "@{/js/Async.js}"></script>
<script th:src = "@{/js/Strumenti/DrawJS.js}"></script>

</html>