<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Sign-up & Log-in</title>

    <link rel="stylesheet" th:href="@{/styles/texelStyle.css}">

</head>

<div th:replace="fragments :: topmenu"></div>

<body>

<div style="position: absolute; top: 50%; left: 28%; font-size: 23px;">

    Nessuna Anteprima

</div>

<div class = "break">

    <div  style="width: 32px; position: absolute; top: 36px;" id="strumenti">

        <button id="auth" class = "tools breakBar" onclick="creaLogin()">
            <img src="https://i.postimg.cc/xdwxc1w6/user.png">
        </button>

    </div>

    <div id="login" class="divBreak"></div>

</div>


</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src = "@{/js/signupsignin.js}"></script>

</html>