<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet" th:href=@{/styles/home-log_css/login-regist.css} type="text/css">
    <link rel="stylesheet" th:href=@{/styles/General.css} type="text/css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/log js/login-regist.js}"></script>

    <title>loginorregist</title>

    <style>
        @import url('https://fonts.cdnfonts.com/css/thegoodmonolith');
    </style>

</head>

<section layout:insert="navbar.html"></section>

<body bgcolor="#F2EAC5">

<div class="container" id = "container">
    <div class="box"></div>
    <div class="container-forms">
        <div class="container-info">
            <div class="info-item">
                <div class="table">
                    <div class="table-cell">
                        <p>Hai un'account?</p>
                        <div class="btn" id="login">
                            Log in
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-item">
                <div class="table">
                    <div class="table-cell">
                        <p>Non hai l'account?</p>
                        <div class="btn" id="sign-up">
                            Sign up
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-form">
            <div class="form-item log-in">
                <div class="table">
                    <div class="table-cell">
                        <input name="Username" placeholder="Username" type="text" />
                        <input name="Password" placeholder="Password" type="password" />
                        <div class="btn" id="loginButton">
                            Log in
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-item sign-up">
                <div class="table">
                    <div class="table-cell">
                        <input name="email" placeholder="Email" type="text" />
                        <input name="fullName" placeholder="Full Name" type="text" />
                        <input name="Username" placeholder="Username" type="text" />
                        <input name="Password" placeholder="Password" type="password" />
                        <div class="btn" id="sign-upButton">
                            Sign up
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>