<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Sign-up & Log-in</title>

    <link rel="stylesheet" th:href="@{/styles/login/loginRegistrazione.css}">

</head>

<section layout:insert="topmenu.html"></section>

<body>

<div style="position: absolute; top: 50%; left: 28%; font-size: 23px;">

    Nessuna Anteprima

</div>

<div class = "break">
    
    <img src="https://i.postimg.cc/xdwxc1w6/user.png" class = "userBar" id="userBar">

    <div class="divRegistrazioneLogin">

        <div class = "titleBar" id="titleBar">

            <img src="https://i.postimg.cc/xdwxc1w6/user.png" class="user" id="user">

            <label for="user">Sign-up & Log-in</label>

        </div>

        <div class="loginRegistrazione" id="login">

            <label for="formLogin" style="margin-left: 8px; margin-top: 8px">Log-in</label>

            <form th:action="@{/login}" th:object = "${infoUtente}" id="formLogin" method="post">

              <div class = "emailDiv">

                <label for="emailLogin">Email</label>
                <input type="text" class="inputForm" id="emailLogin" th:field="*{email}" required>

              </div>

              <div class = "loginDiv">

                <label for="PasswordLogin">Password</label>
                <input type="text" class="inputForm" id = "PasswordLogin" th:field="*{Password}" required>

              </div>

              <div class = "loginDiv">

                  <button class = "bottone">Log-in</button>

              </div>

            </form>

        </div>

        <div class="loginRegistrazione" id="registrazioneDiv">

            <label for="registrazione" style="margin-left: 8px; margin-top: 8px">Sign-up</label>

            <form th:action="@{/registrazione}" th:object = "${infoUtente}" id="registrazione" method="post">

                <div class = "emailDiv">

                    <label for="emailRegistrazione">Email</label>
                    <input type="text" class="inputForm" id="emailRegistrazione" th:field="*{email}" required>

                </div>

                <div class = "loginDiv">

                    <label for="nomeRegistrazione">Nome</label>
                    <input type="text" class="inputForm" id="nomeRegistrazione" th:field="*{nome}" required>

                </div>


                <div class = "loginDiv">

                    <label for="PasswordRegistrazione">Password</label>
                    <input type="text" class="inputForm" id="PasswordRegistrazione" th:field="*{password}" required>

                </div>

                <div class = "loginDiv">

                    <label for="RipetiPasswordRegistrazione">Ripeti Password</label>
                    <input type="text" class="inputForm" id="RipetiPasswordRegistrazione" required>

                </div>

                <div class = "loginDiv">

                    <button class = "bottone">Sign-up</button>

                </div>

            </form>

        </div>

    </div>

</div>

</body>

<script th:src = "@{/js/signupsignin.js}"></script>

</html>