<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <link th:href="@{/styles/General.css}">
    <link th:href="@{/styles/pacchetti/pacchetti.css}">

</head>

<section layout:fragment="header">

    <!--HEADER-->

    <div class="header">
        <div class="cart-user">
            <input type="image" th:src="@{https://i.postimg.cc/zDxj81YT/cart.png}" height="45" width="45">
            <a href="login"><input type="image" th:src="@{https://i.postimg.cc/NFC74Rkd/utente.png}" height="45" width="45"></a>
        </div>
        <div class="logo">
            <a href="/"><input type="image" th:src="@{https://i.postimg.cc/xTqPdF9h/logo-1.png}" width="210" height="50"></a>
        </div>

        <button class="burger" onclick="toggleMenu()">
            <input type="image" th:src="@{https://i.postimg.cc/3RBZks45/menu.png}" height="45" width="45">
        </button>
    </div>


    <script type="text/javascript">

        const toggleMenu=() =>
            document.body.classList.toggle("open")

    </script>


    <div>
        <nav>
            <ul class="menu">
            <a href="griglia">Mappa</a>
            <a href="#">Entità</a>
            <a href="#">Eventi</a>
            <a href="pixelArt">Pixel Art</a>
            <a href="pacchetti">Pacchetti</a>
            </ul>
        </nav>
    </div>

</section>

</html>