<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/Griglia/Griglia_PixelArt.css}">
    <link rel="stylesheet" th:href="@{/styles/Griglia/menugriglia.css}">
    <link rel="stylesheet" th:href="@{/styles/General.css}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body bgcolor="25242A">

<section layout:insert="navbar.html"></section>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<div class="toolbar">
    <ul>
    <button onclick="creaPopUp()"><input type="image" th:src="@{https://i.postimg.cc/XJdw2cb9/Tavola-disegno-1.png}" height="20" width="20"></button>
    <button onclick="getimg()"><input type="image" th:src="@{https://i.postimg.cc/CKZC8prP/Tavola-disegno-1-copia.png}" height="20" width="20"></button>
    <button onclick="disegnaTile()"><input type="image" th:src="@{https://i.postimg.cc/7Lp3Mtpx/Tavola-disegno-1-copia-1.png}" height="20" width="20"></button>
    <button onclick="cancellaTile()"><input type="image" th:src="@{https://i.postimg.cc/0jv7hMkF/Tavola-disegno-1-copia-2.png}" height="20" width="20"></button>
    <button onclick="selettoreTile()"><input type="image" th:src="@{https://i.postimg.cc/pX2DZF1n/Tavola-disegno-1-copia-4.png}" height="20" width="20"></button>
    <button onclick="showPreview()"><input type="image" th:src="@{https://i.postimg.cc/BnzH4wZx/Tavola-disegno-1-3.png}" height="20" width="20"></button>

    <button onclick="generaPaletteCasuale()">Genera</button>
    </ul>
</div>

<br>

<div id = "griglia" class="griglia"></div>


<div class = "tilePopUP" id="tile">

    <div class="tileHeader">

        <div class = "title">Preview</div>
        <button class="close">X</button>

    </div>

    <label for="TilePreview">Numero Celle:</label>
    <input type="number" id="TilePreview">

    <div class="tilePreview" id = "tileBody"></div>

</div>

<div class = "tilePopUP" id="menuTile">

    <div class="tileHeader">

        <div class = "title">Preview</div>
        <button class="close">X</button>

    </div>

    <div id = "popup" class="tileBody">

        <label for="nome">Nome:</label>
        <input type="text" id="nome">
        <br>
        <label for="tileset">Scegli il tileset in cui salvare il tile:</label>
        <select id="tileset"></select>
        <br>
        <label for="sceltaPalette">Scegli la tua palette: (questa parte in js fa schifo ora, va migliorata con mongoDB)</label>
        <select id="sceltaPalette"></select>
        <br>
        <button onclick="creaPixelArt()">Crea</button>

    </div>

</div>

<div id = "s-popup"></div>

<br>

<div id = "color" class="color"></div>

<br>

<div id = "randomHex" class="color"></div>

<br>

COLORE SCELTO:
<div id = "colorScelto" class="squarePixelArt"></div>
<div id = "result" hidden="hidden"></div>

</body>

<script src = "https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script th:src = "@{/js/Strumenti/PixelArt/PixelArtJS.js}"></script>
<script th:src = "@{/js/Async.js}"></script>
<script th:src = "@{/js/Strumenti/DrawJS.js}"></script>


</html>