<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <label>Utente</label>
    <form th:action="@{/inserimentoUtente}" method="post" th:object="${utente}">
        email<input type="text" id="email5" name="email" th:field="*{email}">
        password<input type="text" id="password" name="password" th:field="*{password}">
        nome<input type="text" id="nome" name="nome" th:field="*{nome}">
        <input type="submit">
    </form>

    <label>Cartella</label>
    <form th:action="@{/inserimentoCartella}" method="post" th:object="${cartella}">
        nome Cartella<input type="text" id="nomeCartella" name="nomeCartella" th:value="${nomeCartella}">
        email<input type="text" id="email" name="email" th:value="${email}">
        <input type="submit">
    </form>

    <label>Update Mappa</label>
    <form th:action="@{/updateMappa}" method="post">
        email<input type="text" id="email2" name="email" th:value="${email}">
        id Mappa<input type="text" id="idMappa" name="idMappa" th:value="${idMappa}">
        <input type="submit">
    </form>

    <label>Palette</label>
    <form th:action="@{/inserimentoPalette}" method="post">
        nomePalette<input type="text" id="nomePalette" name="nomePalette" th:value="${nomePalette}">
        email<input type="text" id="email1" name="email" th:value="${email}">
        <input type="submit">
    </form>

    <label>Colore</label>
    <form th:action="@{/inserimentoColore}" method="post">
        colore<input type="text" id="esadecimale" name="esadecimale" th:value="${esadecimale}">
        nomePalette<input type="text" id="nomePalette1" name="nomePalette" th:value="${nomePalette}">
        <input type="submit">
    </form>

    <label>Entità</label>

    <form th:action="@{/aggiungiEntita}" method="post" th:object="${entitaModel}" enctype="application/json">
        nomeEntita<input type="text" id="nomeEntita" name="nomeEntita" th:value="${nomeEntita}">
        collisione<input type="text" id="collisione" name="collisione" th:value="${collisione}">
        coordinate<input type="text" id="coordinate" name="coordinate" th:value="${coordinate}">
        nome Foto<input type="text" id="nomeFoto" name="nomeFoto" th:value="${nomeFoto}">
        nome Cartella<input type="text" id="nomeCartella1" name="nomeCartella" th:value="${nomeCartella}">
        email<input type="text" id="email3" name="email" th:value="${email}">
        <input type="submit">
    </form>


    <label>Evento</label>
    <form th:action="@{/aggiungiEvento}" method="post" th:object="${evento}">
        nome Evento<input type="text" id="nomeEvento" name="nomeEvento" th:value="${nomeEvento}">
        email <input type="text" id="email6" name="email" th:value="${email}">
        <input type="submit">
    </form>

    <label>Istruzione</label>
    <form th:action="@{/aggiungiIstruzione}" method="post" th:object="${istruzione}">
        nome Istrzione<input type="text" id="nomeIstruzione" name="nomeIstruzione" th:value="${nomeIstruzione}">
        Valore <input type="text" id="valoreIstruzione" name="valoreIstruzione" th:value="${valoreIstruzione}">
        idEvento <input type="text" id="nomeEvento1" name="nomeEvento" th:value="${nomeEvento}">
        <input type="submit">
    </form>

    <h2>Inserisci l'ID della Cartella:</h2>
    <form th:action="@{/mostraEntita}" method="post">
        Nome Cartella<input type="text" id="nomeCartella2" name="nomeCartella" th:value="${nomeCartella}">
        Email <input type="text" id="email8" name="email" th:value="${email}">
        <button type="submit">Mostra Entità</button>
    </form>
    <table border="1" id="tabellaEntita">
    <thead>
    <tr>
        <th>Nome</th>
        <!-- Aggiungi altri campi della tua entità -->
    </tr>
    </thead>
    <tbody>
    <!-- Itera sulla lista di EntitaModel -->
    <tr th:each="entita : ${entitaList}">
        <td th:text="${entita.nome}"></td>
        <!-- Aggiungi altri campi della tua entità -->
    </tr>
    </tbody>
    </table>

    <h2>Inserisci l'email per cercare le cartelle Cartella:</h2>
    <form th:action="@{/mostraCartelle}" method="post">
        Email:
        <input type="text" id="email7" name="email" th:value="${email}">
        <button type="submit">Mostra Cartelle</button>
    </form>
    <table border="1" id="tabellaCartelle">
    <thead>
    <tr>
        <th>Nome</th>
        <!-- Aggiungi altri campi della tua entità -->
    </tr>
    </thead>
    <tbody>
    <!-- Itera sulla lista di EntitaModel -->
    <tr th:each="cartella : ${cartellaList}">
        <td th:text="${cartella.nome}"></td>
        <!-- Aggiungi altri campi della tua entità -->
    </tr>
    </tbody>
    </table>

    <h2>Inserisci il nome dell'evento:</h2>
    <form th:action="@{/mostraIstruzioni}" method="post">
        Evento:
        <input type="text" id="nomeEvento2" name="nomeEvento" th:value="${nomeEvento}">
        <button type="submit">Mostra Cartelle</button>
    </form>
    <table border="1" id="tabellaIstruzioni">
        <thead>
        <tr>
            <th>Nome</th>
            <!-- Aggiungi altri campi della tua entità -->
        </tr>
        </thead>
        <tbody>
        <!-- Itera sulla lista di EntitaModel -->
        <tr th:each="istru : ${istruzione}">
            <td th:text="${istru.nome}"></td>
            <!-- Aggiungi altri campi della tua entità -->
        </tr>
        </tbody>
    </table>

</body>
</html>