<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

  <link rel="stylesheet" th:href="@{/styles/topmenu.css}">

</head>

  <section layout:fragment="menu">

    <div class="topmenu">

      <img src="https://i.postimg.cc/wv5tLwGS/logo.png" class="logo" id="logo">

      <ul>

        <li><a href="griglia">Mappa</a></li>
        <li><a href="#">Entità</a></li>
        <li><a href="#">Eventi</a></li>
        <li><a href="pixelArt">Pixel Art</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Sign-up & Log-in</a></li>

      </ul>

    </div>

  </section>

</html>