/*css per la griglia*/


.popStyle{

    width: 2px;
    height: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.square{

    width: 32px;
    height: 32px;
    background-color: white;
    border: solid 1px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.squarePixelArt{

    width: 32px;
    height: 32px;
    border: solid 0.5px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.squareTools{

    width: 32px;
    height: 32px;
    box-sizing: content-box;
    display: unset;
    justify-content: center;
    align-items: center;

}

.cellaTile{

    max-width: 32px;
    border: 0px;

}

div#devtools{

    margin-left: 20px;

}

button#crea{

    margin-left: 20px;
    color: white;

}

.menuMappa{

    width: 100%;
    height: 100vh;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.popdown{

    visibility: hidden;
    top: 0;
    transform: translate(-50%, -50%) scale(0.1);

}

.popup{

    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}

.popup-open{

    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);

}

/*css per i div della griglia*/

.cella{

    border: 0px;
    max-width: 32px;

}

.cella:hover {

    filter: brightness(1.5);

}

div.coordinate {

    display: unset;
    top: 15%;
    left: 0%;
    position: fixed;
    font-size: 20px;

}

.colori{

    display: grid;
    grid-template-columns: repeat(3 , 32px);
    padding: 0px;
    width: fit-content;
    block-size: fit-content;

}

.tilePopUP{

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    z-index: 10;
    background-color: white;
    width: 1000px;
    max-width: 80%;

}

.tilePopUP.active{

    transform: translate(-50%, -50%) scale(1);

}

.tileHeader{

    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;

}

.tileHeader .title{

    font-size: 1.25rem;
    font-weight: bold;

}

.tileHeader .close{

    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;

}

.tileBody{

    padding: 10px;
    display: grid;
    width: fit-content;
    block-size: fit-content;
    margin: auto;

}

#s-popup{

    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;

}

#s-popup.active{

    opacity: 1;
    pointer-events: all;

}