/*css per la griglia*/

.square{

    width: 64px;
    height: 64px;
    background-color: white;
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.squarePixelArt{

    width: 32px;
    height: 32px;
    border: solid 2px black;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*css per i div della griglia*/

.cella{

    border: 0px;
    max-width: 64px;

}

.cella:hover {

    filter: brightness(1.5);

}

.colori{

    display: grid;
    grid-template-columns: repeat(3 , 32px);
    padding: 0px;
    width: fit-content;
    block-size: fit-content;

}