/*HEADER*/

.header {
    margin: -16px;
    position: fixed;
    padding: 5px;
    text-align: center;
    background: #25242A;
    width: 2566px;
    border-bottom: 8px solid #353540;
    z-index: 60;
}

.cart-user-pacc {
    position: fixed;
    display: flex;
    left: 90%;
    margin-top: 20px;
    top: -11px;
}

.logo {
    position: fixed;
    display: flex;
    left: 39%;
    margin-top: 20px;
    top: -11px;
}

/*NAVBAR*/

button {
    border: 0;
    padding: 30px;
    background: transparent;
    cursor: pointer;
}

.burger {
    z-index: 3;
    top: 0;
    left: 20px;
    display: grid;
    place-items: center;
    width: 88px;
    height: 88px;
    background-repeat: no-repeat;
    background-position: center;
}

.burger .menu {
    position: relative;
    top: 0;
}

.menu {
    display: flex;
    background: #353540;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 100%;
    opacity: 1;
    visibility: visible;
    translate: 0;
    margin: 4px 0 0 0;
    z-index: 1;
    animation: menu-in 0.375s;

}

.hidden {
    display: none;
}

body.open .menu nav {
    opacity: 1;
}

body.open .menu a {
    animation: appear 0.25s backwards;
}

@keyframes menu-in {
    0% {
        clip-path: ellipse(60% 60% at 0% 50%);
    }
    100% {
        clip-path: ellipse(120% 120% at 0% 50%);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
        translate: -30px 0;
    }
    100% {
        opacity: 1;
    }
}



/*FOOTER*/

footer {
    background: #353540;
    font-size: 16px;
    color: white;
    display: block;
    flex-direction: column;
    width: 100%;
}

.footer-sections {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    gap: 80px;
    margin: 0 auto;
    max-width: 900px;
    padding: 24px;
}

h2 {
    text-align: left;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 600;
}

menu {
    font-size: 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

menu li {
    margin-bottom: 16px;
}


a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}